/* CSS Document */
.wel{
	padding-top:50px !important;
	float:right !important;
	font-size:18px !important;
}
.seldate{
		width:inherit !important;
}
#seats{
	background-color:green !important;
}
#seatFormat{
	border-collapse:collapse;
}
#number{
	color:white !important;
}
.seatFormat{
	padding:10 !important;
	color:white !important;
	text-align:center !important;
}